In [121]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [123]:
datos202001 = pd.read_csv('./datos/202001.csv', sep=';', encoding='latin1')
datos202001 = datos202001.iloc[:,:10]
datos202001.columns=['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202001

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2
1,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2
2,CRU-00000005-20,2020-01-01 00:15:14,14,Los Mártires,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
3,CRU-00000024-20,2020-01-01 00:20:50,11,Suba,58,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
4,CRU-00000036-20,2020-01-01 00:26:05,10,Engativá,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
...,...,...,...,...,...,...,...,...,...,...
15299,CRU-00038143-20,2020-02-01 00:03:14,18,Rafael Uribe Uribe,89,Años,FEMENINO,Sur,Síntomas gastrointestinales,3
15300,CRU-00038145-20,2020-02-01 00:03:58,1,Usaquén,0,SIN_DATO,SIN_DATO,Norte,Intento de suicidio,2
15301,CRU-00038109-20,2020-02-01 00:10:45,19,Ciudad Bolívar,46,Años,MASCULINO,Sur,Trastorno mental,3
15302,CRU-00037765-20,2020-02-01 00:55:15,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Trastorno mental,3
15303,CRU-00037858-20,2020-02-01 01:19:50,8,Kennedy,16,Años,MASCULINO,Sur,Trastorno mental,3

In [125]:
datos202002 = pd.read_csv('./datos/202002.csv', sep=';', encoding='latin1')
datos202002.columns=['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202002

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00038147-20,2020-02-01 00:45:19,8,Kennedy,0,SIN_DATO,SIN_DATO,Sur,Intento de suicidio,ALTA
1,CRU-00038149-20,2020-02-01 00:21:48,10,Engativá,0,SIN_DATO,SIN_DATO,Norte,Heridos,ALTA
2,CRU-00038153-20,2020-02-01 00:19:51,11,Suba,48,Años,MASCULINO,Norte,Dolor torácico,ALTA
3,CRU-00038155-20,2020-02-01 00:20:12,9,Fontibón,0,SIN_DATO,SIN_DATO,Norte,Heridos,ALTA
4,CRU-00038155-20,2020-02-01 00:36:08,9,Fontibón,0,SIN_DATO,SIN_DATO,Privada,Heridos,ALTA
...,...,...,...,...,...,...,...,...,...,...
17053,CRU-00081324-20,2020-02-29 23:54:44,11,Suba,0,SIN_DATO,SIN_DATO,Norte,Violencia Sexual,CRITICA
17054,CRU-00081331-20,2020-02-29 23:54:19,3,Santa Fe,0,SIN_DATO,SIN_DATO,Norte,Heridos,ALTA
17055,CRU-00081335-20,2020-03-01 00:31:50,7,Bosa,91,Años,FEMENINO,Sur,Síntomas gastrointestinales,ALTA
17056,CRU-00081342-20,2020-02-29 23:58:12,10,Engativá,0,SIN_DATO,SIN_DATO,Norte,Intento de suicidio,ALTA
17057,CRU-00081343-20,2020-03-01 00:04:27,11,Suba,0,SIN_DATO,SIN_DATO,Norte,Dolor torácico,ALTA

In [127]:
datos202003 = pd.read_csv('./datos/202003.csv', sep=',', encoding='latin1')
datos202003.columns=['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202003

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00081349-20,2020-03-01 00:07:37,12,Barrios Unidos,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Heridos,ALTA
1,CRU-00081351-20,2020-03-01 02:28:59,1,Usaquén,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Trastorno mental,MEDIA
2,CRU-00081353-20,2020-03-01 00:21:13,4,San Cristóbal,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Heridos,ALTA
3,CRU-00081356-20,2020-03-01 00:40:00,16,Puente Aranda,85,Años,FEMENINO,Privada,Heridos,MEDIA
4,CRU-00081357-20,2020-03-01 00:18:26,8,Kennedy,78,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA
...,...,...,...,...,...,...,...,...,...,...
14612,CRU-00206014-20,2020-04-01 00:00:32,7,Bosa,36,Años,FEMENINO,Sur,Patología Gineco - obstétrica,ALTA
14613,CRU-00206016-20,2020-03-31 23:53:11,19,Ciudad Bolívar,20,Años,FEMENINO,Sur,Convulsiones,ALTA
14614,CRU-00206017-20,2020-04-01 00:04:42,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Intento de suicidio,ALTA
14615,CRU-00206022-20,2020-03-31 23:59:06,16,Puente Aranda,20,Años,MASCULINO,Sur,Intento de suicidio,ALTA
14616,CRU-00206035-20,2020-04-01 00:05:49,5,Usme,65,Años,FEMENINO,Sur,Dolor torácico,ALTA

In [129]:
datos202004 = pd.read_csv('./datos/202004.csv', sep=',', encoding='latin1')
datos202004.columns=['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202004

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00206474-20,2020-04-01 05:59:41,8,Kennedy,27,Años,MASCULINO,Privada,Herido,CRITICA
1,CRU-00206776-20,2020-04-01 08:40:19,3,Santa Fe,19,Años,FEMENINO,Privada,Patología Ginecobstétrica,ALTA
2,CRU-00223640-20,2020-04-05 06:32:10,18,Rafael Uribe Uribe,18,Años,MASCULINO,Privada,Herido,ALTA
3,CRU-00223640-20,2020-04-05 06:34:01,18,Rafael Uribe Uribe,38,Años,FEMENINO,Privada,Herido,ALTA
4,CRU-00207060-20,2020-04-01 09:09:37,15,Antonio Nariño,57,Años,MASCULINO,Privada,Enfermo,MEDIA
...,...,...,...,...,...,...,...,...,...,...
10689,CRU-00300018-20,2020-04-30 00:34:00,8,Kennedy,58,Años,MASCULINO,Sur,Inconsciente / Paro cardiorespiratorio,CRITICA
10690,CRU-00299833-20,2020-04-29 21:43:31,16,Puente Aranda,16,Años,MASCULINO,Privada,Herido,ALTA
10691,CRU-00294664-20,2020-04-27 21:08:29,15,Antonio Nariño,30,Años,FEMENINO,Sur,Accidente Cerebro Vascular,CRITICA
10692,CRU-00300882-20,2020-04-30 11:38:19,4,San Cristóbal,27,Años,FEMENINO,Privada,Inconsciente / Paro cardiorespiratorio,CRITICA
10693,CRU-00300722-20,2020-04-30 10:29:43,8,Kennedy,61,Años,MASCULINO,Privada,Inconsciente / Paro cardiorespiratorio,CRITICA

In [131]:
datos202005 = pd.read_csv('./datos/202005.csv', sep=',', encoding='latin1')
datos202005.columns=['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202005

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00302425-20,2020-05-01 00:01:06,4,San Cristóbal,16,Años,FEMENINO,Sur,Intento de Suicidio,ALTA
1,CRU-00302427-20,2020-05-01 00:02:22,8,Kennedy,49,Años,MASCULINO,Norte,Dolor Torácico,CRITICA
2,CRU-00302430-20,2020-05-01 00:06:30,18,Rafael Uribe Uribe,93,Años,MASCULINO,Sur,Evento Respiratorio,CRITICA
3,CRU-00302433-20,2020-05-01 00:09:38,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Enfermo,CRITICA
4,CRU-00302434-20,2020-05-01 00:10:17,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Dolor Torácico,ALTA
...,...,...,...,...,...,...,...,...,...,...
12748,CRU-00381006-20,2020-05-31 23:47:25,15,Antonio Nariño,49,Años,MASCULINO,Privada,Herido,ALTA
12749,CRU-00381007-20,2020-05-31 23:47:33,10,Engativá,91,Años,FEMENINO,Norte,Evento Respiratorio,ALTA
12750,CRU-00381008-20,2020-05-31 23:47:49,19,Ciudad Bolívar,33,Años,FEMENINO,Sur,Dolor Torácico,CRITICA
12751,CRU-00381009-20,2020-05-31 23:52:29,19,Ciudad Bolívar,82,Años,MASCULINO,Sur,Evento Respiratorio,MEDIA
12752,CRU-00381012-20,2020-05-31 23:54:30,11,Suba,68,Años,FEMENINO,Norte,Enfermo,ALTA

In [133]:
datos202006 = pd.read_csv('./datos/202006.csv', sep=',', encoding='latin1')
datos202006.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202006 = datos202006.merge(codigos_incidente, how='left', left_on='tipo_incidente', right_on='TIPO_INCIDENTE')
datos202006['tipo_incidente'] = datos202006['TIPO_INCIDENTE.1']
datos202006 = datos202006.iloc[:,0:10]
datos202006

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00381024-20,2020-06-01 00:21:11,5,Usme,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Convulsi¢n,ALTA
1,CRU-00381027-20,2020-06-01 00:25:54,1,Usaqun,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA
2,CRU-00381028-20,2020-06-01 04:11:45,8,Kennedy,50,A¤os,MASCULINO,Sur,Evento Respiratorio,ALTA
3,CRU-00381034-20,2020-06-01 00:51:24,8,Kennedy,80,A¤os,MASCULINO,Norte,Accidente Cerebro Vascular,ALTA
4,CRU-00381049-20,2020-06-01 01:00:16,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Convulsi¢n,ALTA
...,...,...,...,...,...,...,...,...,...,...
12736,CRU-00392980-20,2020-06-05 07:10:28,4,San Crist¢bal,54,A¤os,FEMENINO,Privada,Enfermo,MEDIA
12737,CRU-00383509-20,2020-06-01 20:19:41,18,Rafael Uribe Uribe,19,A¤os,MASCULINO,Privada,Herido,ALTA
12738,CRU-00382201-20,2020-06-01 12:53:48,6,Tunjuelito,38,A¤os,MASCULINO,Privada,Herido,ALTA
12739,CRU-00383509-20,2020-06-01 19:59:12,18,Rafael Uribe Uribe,21,A¤os,MASCULINO,Privada,Herido,ALTA
12740,CRU-00410146-20,2020-06-12 08:01:22,10,Engativ,95,A¤os,FEMENINO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA

In [135]:
datos202007 = pd.read_csv('./datos/202007.csv', sep=';', encoding='latin1')
datos202007.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202007

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00459377-20,2020-07-01 02:41:35,11,Suba,56,A¤os,MASCULINO,Norte,Evento Respiratorio,ALTA
1,CRU-00459378-20,2020-07-01 00:22:48,18,Rafael Uribe Uribe,24,A¤os,FEMENINO,Sur,Convulsi¢n,ALTA
2,CRU-00459382-20,2020-07-01 00:34:15,7,Bosa,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Evento Respiratorio,CRITICA
3,CRU-00459385-20,2020-07-01 00:45:03,3,Santa Fe,54,A¤os,FEMENINO,Norte,Herido,ALTA
4,CRU-00459392-20,2020-07-01 00:52:01,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Inconsciente / Paro cardiorespiratorio,CRITICA
...,...,...,...,...,...,...,...,...,...,...
12108,CRU-00578695-20,2020-07-31 23:36:33,5,Usme,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA
12109,CRU-00578704-20,2020-07-31 23:37:01,12,Barrios Unidos,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA
12110,CRU-00550682-20,2020-07-24 09:43:41,8,Kennedy,44,A¤os,MASCULINO,Sur,Dolor Tor cico,ALTA
12111,CRU-00573583-20,2020-07-30 13:51:27,8,Kennedy,84,A¤os,MASCULINO,Sur,Evento Respiratorio,ALTA
12112,CRU-00560656-20,2020-07-27 13:18:08,16,Puente Aranda,58,A¤os,FEMENINO,Sur,Evento Respiratorio,ALTA

In [137]:
datos202008 = pd.read_csv('./datos/202008.csv', sep=';', encoding='latin1')
datos202008.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202008

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00578727-20,2020-08-01 00:22:07,6.0,Tunjuelito,38,A¤os,FEMENINO,Sur,Enfermo,BAJA
1,CRU-00578729-20,2020-08-01 00:16:03,8.0,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Evento Respiratorio,ALTA
2,CRU-00578741-20,2020-08-01 00:45:28,2.0,Chapinero,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Intento de Suicidio,CRITICA
3,CRU-00578741-20,2020-08-01 00:39:47,2.0,Chapinero,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Intento de Suicidio,CRITICA
4,CRU-00578748-20,2020-08-01 01:02:50,18.0,Rafael Uribe Uribe,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Dolor Tor cico,CRITICA
...,...,...,...,...,...,...,...,...,...,...
13634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
datos202009 = pd.read_csv('./datos/202009.csv', sep=';', encoding='latin1')
codigos_incidente = datos202009[['TIPO_INCIDENTE','TIPO_INCIDENTE.1']].drop_duplicates()
datos202009 = datos202009.iloc[:,0:10]
datos202009.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202009 = datos202009.merge(codigos_incidente, how='left', left_on='tipo_incidente', right_on='TIPO_INCIDENTE')
datos202009['tipo_incidente'] = datos202009['TIPO_INCIDENTE.1']
datos202009 = datos202009.iloc[:,0:10]
datos202009

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00650113-20,1/09/2020 0:28,8,Kennedy,34,Años,FEMENINO,Sur,Evento Respiratorio,MEDIA
1,CRU-00650124-20,1/09/2020 0:29,7,Bosa,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Herido,ALTA
2,CRU-00650125-20,1/09/2020 0:32,3,Santa Fe,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA
3,CRU-00650126-20,1/09/2020 0:35,3,Santa Fe,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Intento de Suicidio,ALTA
4,CRU-00650127-20,1/09/2020 2:02,19,Ciudad Bolivar,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Intento de Suicidio,ALTA
...,...,...,...,...,...,...,...,...,...,...
13260,CRU-00698874-20,30/09/2020 23:53,7,Bosa,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Herido,ALTA
13261,CRU-00698877-20,30/09/2020 23:39,15,Antonio Nari¤o,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Inconsciente / Paro cardiorespiratorio,CRITICA
13262,CRU-00698886-20,30/09/2020 23:55,18,Rafael Uribe Uribe,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Inconsciente / Paro cardiorespiratorio,CRITICA
13263,CRU-00698887-20,30/09/2020 23:53,10,Engativa,67,Años,MASCULINO,Norte,Evento Respiratorio,ALTA
13264,CRU-00698893-20,1/10/2020 0:15,18,Rafael Uribe Uribe,74,Años,FEMENINO,Sur,Enfermo,MEDIA

In [141]:
datos202010 = pd.read_csv('./datos/202010.csv', sep=';', encoding='latin1')
datos202010.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202010

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00698894-20,2020-10-01 03:13:20,11.0,Suba,58,A¤os,FEMENINO,Norte,Trastorno Mental,MEDIA
1,CRU-00698894-20,2020-10-01 03:14:25,11.0,Suba,84,A¤os,FEMENINO,Norte,Trastorno Mental,MEDIA
2,CRU-00698895-20,2020-10-01 00:12:47,14.0,Los M rtires,76,A¤os,MASCULINO,Norte,Intoxicaci¢n,ALTA
3,CRU-00698896-20,2020-10-01 00:09:34,16.0,Puente Aranda,17,A¤os,MASCULINO,Norte,Herido,ALTA
4,CRU-00698900-20,2020-10-01 00:21:45,10.0,Engativ,74,A¤os,MASCULINO,Norte,Enfermo,MEDIA
...,...,...,...,...,...,...,...,...,...,...
15600,CRU-00754687-20,2020-11-01 01:06:27,10.0,Engativ,35,A¤os,MASCULINO,Norte,Trastorno Mental,MEDIA
15601,CRU-00724697-20,2020-10-15 18:35:32,2.0,Chapinero,72,A¤os,MASCULINO,Norte,Enfermo,MEDIA
15602,CRU-00735921-20,2020-10-21 15:01:03,10.0,Engativ,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA
15603,CRU-00742896-20,2020-10-25 11:14:41,8.0,Kennedy,19,A¤os,FEMENINO,Sur,Herido,ALTA
15604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
datos202011 = pd.read_csv('./datos/202011.csv', sep=';', encoding='latin1')
datos202011.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202011

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00754726-20,2020-11-01 00:25:05,9.0,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA
1,CRU-00754726-20,2020-11-01 00:25:54,9.0,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA
2,CRU-00754803-20,2020-11-01 01:34:49,11.0,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA
3,CRU-00754804-20,2020-11-01 01:33:35,11.0,Suba,26,A¤os,MASCULINO,Privada,Herido,ALTA
4,CRU-00755116-20,2020-11-01 05:55:11,14.0,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA
...,...,...,...,...,...,...,...,...,...,...
14618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
datos202012 = pd.read_csv('./datos/202012.csv', sep=';', encoding='latin1')
datos202012.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos202012

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00839344-20,2020-12-17 20:36:10,4,SAN CRISTOBAL,91,A¤os,F,Sur,Evento Respiratorio,CRITICA
1,CRU-00806255-20,2020-12-01 00:19:01,10,ENGATIVA,23,A¤os,M,Norte,Accidente Cerebro Vascular,ALTA
2,CRU-00806265-20,2020-12-01 00:47:19,11,SUBA,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,ALTA
3,CRU-00806268-20,2020-12-01 01:08:12,16,PUENTE ARANDA,71,A¤os,M,Norte,Evento Respiratorio,ALTA
4,CRU-00806274-20,2020-12-01 01:18:20,1,USAQUEN,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Dolor Tor cico,CRITICA
...,...,...,...,...,...,...,...,...,...,...
14572,CRU-00873676-20,2020-12-31 23:39:42,11,SUBA,67,A¤os,F,Norte,Enfermo,MEDIA
14573,CRU-00873682-20,2020-12-31 23:49:39,16,PUENTE ARANDA,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA
14574,CRU-00873690-20,2021-01-01 01:42:45,5,USME,SIN_DATO,SIN_DATO,SIN_DATO,Sur,S¡ntomas Gastrointestinales,ALTA
14575,CRU-00873691-20,2020-12-31 23:53:06,11,SUBA,61,A¤os,M,Norte,Herido,ALTA
14576,CRU-00873698-20,2021-01-01 00:33:18,18,RAFAEL URIBE URIBE,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Enfermo,ALTA

In [147]:
datos2020 = pd.concat([datos202001, datos202002, datos202003, datos202004, datos202005, datos202006, datos202007, datos202008, datos202009, datos202010, datos202011, datos202012])

In [149]:
datos2020 = datos2020.drop_duplicates()

In [150]:
datos2020

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,CRU-00000002-20,2020-01-01 00:13:40,19.0,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2
2,CRU-00000005-20,2020-01-01 00:15:14,14.0,Los Mártires,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
3,CRU-00000024-20,2020-01-01 00:20:50,11.0,Suba,58,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
4,CRU-00000036-20,2020-01-01 00:26:05,10.0,Engativá,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
5,CRU-00000035-20,2020-01-01 00:29:37,4.0,San Cristóbal,25,Años,FEMENINO,Sur,Convulsiones,1
...,...,...,...,...,...,...,...,...,...,...
14572,CRU-00873676-20,2020-12-31 23:39:42,11.0,SUBA,67,A¤os,F,Norte,Enfermo,MEDIA
14573,CRU-00873682-20,2020-12-31 23:49:39,16.0,PUENTE ARANDA,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA
14574,CRU-00873690-20,2021-01-01 01:42:45,5.0,USME,SIN_DATO,SIN_DATO,SIN_DATO,Sur,S¡ntomas Gastrointestinales,ALTA
14575,CRU-00873691-20,2020-12-31 23:53:06,11.0,SUBA,61,A¤os,M,Norte,Herido,ALTA
14576,CRU-00873698-20,2021-01-01 00:33:18,18.0,RAFAEL URIBE URIBE,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Enfermo,ALTA

In [151]:
datos2020.to_csv('./datos/datos2020.csv', index=False)

**2019**

In [152]:
datos201901 = pd.read_csv('./datos/201901.csv', sep=';', encoding='latin1')
datos201901.insert(column='id', loc=0, value='No id')
datos201901.drop('FECHA_INICIO_DESPLAZAMIENTO_MOVIL', axis=1, inplace=True)
datos201901 = datos201901.iloc[:,0:10]
datos201901.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201901

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,No id,2019-01 01 00:00:18,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Lesiones personales,ALTA
1,No id,2019-01 01 00:00:58,16,Puente Aranda,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Accidente de tránsito con heridos/Muertos,ALTA
2,No id,2019-01 01 00:04:31,3,Santa Fe,51,Años,FEMENINO,Norte,Dolor torácico,ALTA
3,No id,2019-01 01 00:04:51,10,Engativá,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
4,No id,2019-01 01 00:08:40,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Herido con pólvora,ALTA
...,...,...,...,...,...,...,...,...,...,...
127309,No id,30/06/2019 23:41,18,Rafael Uribe Uribe,77,Años,MASCULINO,Sur,Dificultad Respiratoria,ALTA
127310,No id,30/06/2019 23:52,2,Chapinero,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente Tránsito Simple,ALTA
127311,No id,30/06/2019 23:53,5,Usme,52,Años,FEMENINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
127312,No id,30/06/2019 23:54,1,Usaquén,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Intento de suicidio,ALTA
127313,No id,30/06/2019 23:56,14,Los Mártires,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Lesiones personales,ALTA

In [153]:
datos201907 = pd.read_csv('./datos/201907.csv', sep=';', encoding='latin1')
datos201907.insert(column='id', loc=0, value='No id')
datos201907.drop('FECHA_INICIO_DESPLAZAMIENTO-MOVIL', axis=1, inplace=True)
datos201907 = datos201907.iloc[:,0:10]
datos201907.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201907

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,No id,2019-07-01 00:05:08,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA
1,No id,2019-07-01 00:06:57,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
2,No id,2019-07-01 00:09:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA
3,No id,2019-07-01 00:14:42,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA
4,No id,2019-07-01 00:17:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA
...,...,...,...,...,...,...,...,...,...,...
14555,No id,2019-07-31 23:18:21,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Heridos,ALTA
14556,No id,2019-07-31 23:21:41,18,Rafael Uribe Uribe,52,Años,FEMENINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
14557,No id,2019-07-31 23:25:49,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
14558,No id,2019-07-31 23:26:54,18,Rafael Uribe Uribe,78,Años,MASCULINO,Sur,Convulsiones,ALTA
14559,No id,2019-07-31 23:47:00,1,Usaquen,27,Años,MASCULINO,Norte,Accidente de tránsito con heridos/Muertos,ALTA

In [154]:
datos201908 = pd.read_csv('./datos/201908.csv', sep=';', encoding='latin1')
#datos201908.drop('FECHA_INICIO_DESPLAZAMIENTO-MOVIL', axis=1, inplace=True)
datos201908 = datos201908.iloc[:,0:10]
datos201908.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201908

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA
...,...,...,...,...,...,...,...,...,...,...
18136,892657194,8/08/2019 17:26,7,Bosa,30,Años,MASCULINO,Privada,Accidente de tránsito con heridos/Muertos,ALTA
18137,893082194,8/08/2019 18:18,16,Puente Aranda,17,Años,MASCULINO,Privada,Heridos,MEDIA
18138,893602194,8/08/2019 19:29,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Accidente de tránsito con heridos/Muertos,ALTA
18139,893721194,8/08/2019 19:19,10,Engativa,73,Años,MASCULINO,Privada,Accidente de tránsito con heridos/Muertos,ALTA
18140,894020194,8/08/2019 19:16,8,Kennedy,27,Años,FEMENINO,Privada,Accidente de tránsito con heridos/Muertos,ALTA

In [155]:
datos201909 = pd.read_csv('./datos/201909.csv', sep=';', encoding='latin1')
#datos201909.drop('FECHA_INICIO_DESPLAZAMIENTO-MOVIL', axis=1, inplace=True)
datos201909 = datos201909.iloc[:,0:10]
datos201909.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201909

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,538006196,2019-09-01 00:05:32,18,Rafael Uribe Uribe,53,Años,MASCULINO,Sur,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
1,538024196,2019-09-01 00:12:07,11,Suba,0,NaN,SIN_DATO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
2,538031196,2019-09-01 00:05:39,8,Kennedy,26,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
3,538084196,2019-09-01 00:13:39,11,Suba,24,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
4,538123196,2019-09-01 00:20:31,2,Chapinero,0,NaN,SIN_DATO,Norte,INCONSCIENTE/PARO CARDIORRESPIRATORIO,ALTA
...,...,...,...,...,...,...,...,...,...,...
17013,868226196,2019-09-30 23:12:24,7,Bosa,61,Años,MASCULINO,Sur,ACCIDENTE CEREBRO VASCULAR,ALTA
17014,868270196,2019-09-30 23:22:18,10,Engativa,0,NaN,SIN_DATO,Norte,ENFERMO,BAJA
17015,868304196,2019-09-30 23:28:36,4,San Cristobal,0,NaN,SIN_DATO,Sur,INTENTO DE SUICIDIO,ALTA
17016,868309196,2019-09-30 23:30:30,8,Kennedy,23,Años,FEMENINO,Sur,PATOLOGÍA GINECO - OBSTÉTRICA,ALTA
17017,868367196,2019-09-30 23:50:06,8,Kennedy,24,Años,MASCULINO,Sur,INTOXICACIONES,ALTA

In [156]:
datos201910 = pd.read_csv('./datos/201910.csv', sep=';', encoding='latin1')
#datos201910.drop('FECHA_INICIO_DESPLAZAMIENTO-MOVIL', axis=1, inplace=True)
#datos201910 = datos201910.iloc[:,0:10]
datos201910.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201910

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,NaN,NaN,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,NaN,NaN,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,NaN,NaN,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA
...,...,...,...,...,...,...,...,...,...,...
18190,1128631194,2019-10-31 23:23:45,17,La Candelaria,23,Años,MASCULINO,Norte,SIN_DATO,SIN_DATO
18191,1128688194,2019-10-31 23:29:29,19,Ciudad Bolivar,13,Años,MASCULINO,Sur,SIN_DATO,SIN_DATO
18192,1162693195,2019-10-18 13:33:43,1,Usaquen,SIN_DATO,NaN,NaN,Norte,Accidente de tránsito con heridos/Muertos,ALTA
18193,1085341195,2019-10-10 18:50:51,9,Fontibon,17,Años,FEMENINO,Norte,Heridos,ALTA
18194,973308194,2019-10-03 20:23:50,15,Antonio Nariño,SIN_DATO,NaN,NaN,Sur,Dificultad Respiratoria,ALTA

In [157]:
datos201911 = pd.read_csv('./datos/201911.csv', sep=';', encoding='latin1')
#datos201911.drop('FECHA_INICIO_DESPLAZAMIENTO-MOVIL', axis=1, inplace=True)
#datos201911 = datos201911.iloc[:,0:10]
datos201911.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201911

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,1129118194,2019-11-01 00:01:16,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA
1,1129198194,2019-11-01 00:14:45,11,Suba,47,Años,MASCULINO,Norte,Accidente cerebro vascular,ALTA
2,1129241194,2019-11-01 00:16:15,2,Chapinero,33,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,1129253194,2019-11-01 00:11:37,7,Bosa,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA
4,1129258194,2019-11-01 00:16:28,11,Suba,43,Años,FEMENINO,Norte,Dolor torácico,ALTA
...,...,...,...,...,...,...,...,...,...,...
15921,1176356196,2019-11-30 23:59:33,6,Tunjuelito,0,SIN_DATO,SIN_DATO,Sur,Accidente de tránsito con heridos/Muertos,ALTA
15922,1176356196,2019-11-30 23:56:11,6,Tunjuelito,0,SIN_DATO,SIN_DATO,Sur,Accidente de tránsito con heridos/Muertos,ALTA
15923,1176358196,2019-11-30 23:55:55,9,Fontibon,0,SIN_DATO,SIN_DATO,Norte,Accidente de tránsito con heridos/Muertos,ALTA
15924,1176382196,2019-12-01 00:49:00,8,Kennedy,0,SIN_DATO,SIN_DATO,Sur,Convulsiones,MEDIA
15925,1176397196,2019-12-01 00:04:47,6,Tunjuelito,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA

In [158]:
datos201912 = pd.read_csv('./datos/201912.csv', sep=';', encoding='latin1')
#datos201912.drop('FECHA_INICIO_DESPLAZAMIENTO-MOVIL', axis=1, inplace=True)
#datos201912 = datos201912.iloc[:,0:10]
datos201912.columns = ['id','fecha','codigo_localidad','nombre_localidad','edad','unidad_edad','genero','red','tipo_incidente','prioridad']
datos201912

,id,fecha,codigo_localidad,nombre_localidad,edad,unidad_edad,genero,red,tipo_incidente,prioridad
0,1178693196,2019-12-01 03:18:23,8,Kennedy,14,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
1,1176480196,2019-12-01 00:05:59,5,Usme,0,SIN/DATO,SIN/DATO,Sur,Accidente Tránsito con Heridos/Muertos,ALTA
2,1180282196,2019-12-01 05:37:10,7,Bosa,32,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
3,1176520196,2019-12-01 00:07:43,3,Santa Fe,0,SIN/DATO,SIN/DATO,Norte,Lesiones Personales,ALTA
4,1180873196,2019-12-01 07:14:08,5,Usme,53,Años,FEMENINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
...,...,...,...,...,...,...,...,...,...,...
16238,1180179196,2019-12-01 05:22:10,19,Ciudad Bolívar,82,Años,MASCULINO,Sur,Evento respiratorio,ALTA
16239,1181092196,2019-12-01 07:48:13,5,Usme,45,Años,MASCULINO,Sur,Síntomas gastrointestinales,ALTA
16240,1181312196,2019-12-01 08:04:29,11,Suba,0,SIN/DATO,SIN/DATO,Norte,Inconsciente / paro cardiorespiratorio,ALTA
16241,1180657196,2019-12-01 06:22:44,4,San Cristóbal,22,Años,MASCULINO,Sur,Convulsión,ALTA
16242,1180972196,2019-12-01 07:12:34,11,Suba,0,SIN/DATO,SIN/DATO,Norte,Accidente Tránsito con Heridos/Muertos,ALTA

In [159]:
datos2019 = pd.concat([datos201901, datos201907, datos201908, datos201909, datos201910, datos201911, datos201912])
datos2019 = datos2019.drop_duplicates()

In [160]:
datos2019.to_csv('./datos/datos2019.csv', index=False)